* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    background: silver;
    padding: 10px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.main__menu
{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid teal;
    background-color: teal;
    color:#fff;
}

.layout
{
    width: 100%;
}

.content
{
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.comment {
    border: 1px dashed silver;
    padding: 5px;
    margin: 0 0 10px
}

.comment ul{
    list-style: none;
}
